h1 {
    font-size: 45px;
    color: #76A3A7;
}

h2 {
    font-size: 25px;
    color: #76A3A7;
}

h3 {
    font-size: 25px;
    color: #B6B1B1;
}

main {
    display: flex;
    justify-content: space-between;
}

.page-content {
    margin-top: 100px;
    width: 55%;
}

/* Header section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D6CFCF;
}

header > input {
    font-size: 15px;
    border-radius: 18px;
    color: #ADADAD;
    outline: none !important;
    border: 1px solid #ADADAD;
    height: 20px;
    padding: 10px;
    width: 30%;
    background: url('assets/images/search-icon.svg') no-repeat scroll 7px 7px;
    padding-left: 45px;
}


header > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ADADAD;
    opacity: 1; /* Firefox */
}
  
header > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ADADAD;
}
  
header > input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ADADAD;
}

.padding-body { 
    padding: 0 50px;
}

/* Left side nav section */

.left-nav {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.left-nav > h3 {
    margin-top: 25px;
    margin-bottom: 40px;
}

.left-nav > nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D6CFCF;
    height: 420px;
}

.left-nav > nav > a {
    text-decoration: none;
    padding: 15px 15px 15px 0px;
    color: #B6B1B1;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4s;
}

.left-nav > nav > a.active {
    background-color: #76A3A7;
    color: #fff;
}

.left-nav > nav > a:hover {
    background-color: #76A3A7;
    color: #fff;
}


/* Right side nav section */

.right-nav {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.right-nav > h3 {
    margin-top: 25px;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    border-left: 1px solid #D6CFCF;
    padding-left: 30px;
}

.wrapper > .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.links > a {
    margin: 12px
}

.wrapper > .credit {
    font-size: 15px;
    color: #B6B1B1;
    margin-top: auto;
}

/* Navigation styles */

.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navigation > * {
    text-decoration: none;
}

.navigation > .nav-connector {
    font-size: 35px;
    color: #D6CFCF;
    margin-left: 8px;
    margin-right: 8px;
}

/* Files */

.files {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    flex-wrap: wrap;
}

.files > * {
    text-decoration: none;
    width: fit-content;
    margin-bottom: 30px;
}

.file {
    display: flex;
    align-items: center;
}

.file-title {
    font-size: 20px;
    color: #B6B1B1;
    margin-left: 30px;
}