main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.login-form > .input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-form > .input > label {
    font-size: 15px;
    margin-bottom: 5px;
    color: #B6B1B1;
}


.login-form > .input > input {
    color: #ADADAD;
    outline: none !important;
    border: 1px solid #ADADAD;
    height: 38px;
    border-radius: 18px;
    font-size: 35px;
    padding: 10px;
    width: 70%;
}